@import 'tailwindcss';

h1 {
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

h3 {
  font-size: 1.25rem;
  font-weight: 700;
}

h4 {
  font-size: 1rem;
  font-weight: 700;
}

h5 {
  font-size: 0.875rem;
  font-weight: 700;
}

h6 {
  font-size: 0.75rem;
  font-weight: 700;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
  unicode-bidi: isolate;
}

ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
}

[data-slate-editor] > * + * {
  margin-top: 1em;
}
blockquote {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 10px;
  color: rgb(170, 170, 170);
  font-style: italic;
  border-left: 2px solid rgb(221, 221, 221);
}
user agent stylesheet blockquote {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
  unicode-bidi: isolate;
}
